fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
httpx
pytest
pytest-asyncio
aiofiles
pillow
boto3
emails
jinja2
slowapi
